---
notification_email:
  description: >
    The email addresses to send notifications to.
  type: array
  required: true
  default: []
  items:
    description: An email address
    type: string
    format: email

shared_drive:
  description: >
    Config for the shared drive access
  type: string
  required: false
