---
notification_email:
  description: >
    The email addresses to send notifications to.
  type: array
  required: true
  default: []
  items:
    description: An email address
    type: string
    format: email

interop_destinations:
  description: >
    Sequencing platform specific locations where interop data should be copied.
  type: array
  required: true
  items:
    type: object
    properties:
      platform:
        type: string
        required: true
      path:
        type: string
        required: true
